# ignore executable files
*.exe
*.o

# ignore output and log files
*.out
*.e
*.log

# visual studio code settings
.vscode/*

# ignore following single files
aaa.cpp
aaa.hpp
doubles.cpp
test.cpp
Updates.cpp
Updates.hpp

# ignore text files
*.txt
!simulation_parameters.txt
!simulation_settings.txt
!simulation_probabilities_MC.txt

# ignore image files
*.png
*.jpg

# ignore scripts
*.sh

# ignore folders
Eigen

#ignore unrelated files
matrix.cpp